<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>
            Edit entry
            <small>#{gameBean.category.name} (#{gameBean.game.title})</small>
        </h2>
        <h:form>
            <div class="form-group">
                <h:outputLabel for="runTimeH" value="Run time (HH:MM:SS.cc)"/>
                <div class="form-inline">
                    <h:inputText id="runTimeH" value="#{editEntryBean.model.runTimeH}" styleClass="form-control"
                                 pt:type="number" pt:min="0" pt:max="99" pt:placeholder="HH"/>
                    <h:outputText value=":" styleClass="form-control-static"/>
                    <h:inputText id="runTimeM" value="#{editEntryBean.model.runTimeM}" styleClass="form-control"
                                 pt:type="number" pt:min="0" pt:max="59" pt:placeholder="MM"/>
                    <h:outputText value=":" styleClass="form-control-static"/>
                    <h:inputText id="runTimeS" value="#{editEntryBean.model.runTimeS}" styleClass="form-control"
                                 pt:type="number" pt:min="0" pt:max="59" pt:placeholder="SS"/>
                    <h:outputText value="." styleClass="form-control-static"/>
                    <h:inputText id="runTimeC" value="#{editEntryBean.model.runTimeC}" styleClass="form-control"
                                 pt:type="number" pt:min="0" pt:max="99" pt:placeholder="cc"/>
                </div>
            </div>
            <h:panelGroup layout="block" styleClass="form-group #{comp.videoUrl.valid?'':'has-error'}">
                <h:outputLabel for="videoUrl" value="Video URL"/>
                <h:inputText id="videoUrl" value="#{editEntryBean.model.videoUrl}" binding="#{comp.videoUrl}"
                             pt:type="url" styleClass="form-control"
                             pt:placeholder="https://www.youtube.com/watch?v=ABCDEFGHJKL"/>
                <h:message for="videoUrl" styleClass="help-block"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="form-group #{comp.comment.valid?'':'has-error'}">
                <h:outputLabel for="comment" value="Comment"/>
                <h:inputTextarea id="comment" value="#{editEntryBean.model.comment}" binding="#{comp.comment}"
                                 styleClass="form-control" pt:placeholder="Comment" rows="6"/>
                <h:message for="comment" styleClass="help-block"/>
            </h:panelGroup>
            <h:commandButton action="#{editEntryBean.createOrEdit}" value="Edit"
                             styleClass="btn btn-primary"/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
