<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{entryBean.init(param.entryId)}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form>
            <div class="row">
                <div class="col-md-7">
                    <h2>
                        #{entryBean.entry.category.game.title}
                        <small>#{entryBean.entry.category.name}</small>
                    </h2>
                </div>
                <div class="col-md-5">
                    <h:commandButton action="#{entryBean.delete}" rendered="#{loginBean.admin}"
                                   value="Delete Entry" styleClass="btn btn-danger pull-right"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h:graphicImage value="/game/image/#{entryBean.entry.category.game.id}"
                                    styleClass="img-responsive"/>
                </div>
                <div class="col-md-8">
                    <strong>
                        ##{entryBean.rank} run by #{entryBean.entry.username} with
                        <h:outputText value="#{entryBean.entry.runTime}"
                                      converter="me.sendow.speedrun.jsf.converter.RunTimeConverter"/>
                    </strong>
                    <h:panelGroup layout="block" styleClass="embed-responsive embed-responsive-16by9"
                                  rendered="#{not empty entryBean.embedUrl}">
                        <iframe class="embed-responsive-item" src="#{entryBean.embedUrl}"></iframe>
                    </h:panelGroup>
                    <ui:fragment rendered="#{not empty entryBean.entry.comment}">
                        <details class="well well-sm css-entry-comment-well" open="open">
                            <summary><strong>Comment</strong></summary>
                            <p class="css-pre">#{entryBean.entry.comment}</p>
                        </details>
                    </ui:fragment>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
