<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>
            Edit game
            <small>#{gameBean.game.title}</small>
        </h2>
        <h:form enctype="multipart/form-data">
            <h:panelGroup layout="block" styleClass="form-group #{comp.title.valid?'':'has-error'}">
                <h:outputLabel for="title" value="Title"/>
                <h:inputText id="title" value="#{editGameBean.model.title}" binding="#{comp.title}"
                             styleClass="form-control" pt:placeholder="Title" pt:autofocus=""/>
                <h:message for="title" styleClass="help-block"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="form-group #{comp.image.valid?'':'has-error'}">
                <h:outputLabel for="image" value="Image"/>
                <h:inputFile id="image" value="#{editGameBean.model.image}" binding="#{comp.image}"
                             styleClass="form-control">
                    <f:validator validatorId="me.sendow.speedrun.jsf.validator.EditGameImageValidator"/>
                </h:inputFile>
                <h:message for="image" styleClass="help-block"/>
            </h:panelGroup>
            <div class="btn-group">
                <h:commandButton action="#{editGameBean.edit}" value="Edit" styleClass="btn btn-primary"/>
                <h:commandButton action="#{editGameBean.delete}" value="Delete" styleClass="btn btn-danger"
                                 immediate="true"/>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
