<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view>
    <ui:insert name="metadata"/>
    <h:head>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <h:outputStylesheet name="webjars/bootstrap/3.3.6/css/bootstrap.min-jsf.css"/>
        <h:outputStylesheet name="webjars/bootstrap/3.3.6/css/bootstrap-theme.min-jsf.css"/>
        <h:outputStylesheet name="app.css"/>
        <title>Speedrun Portal</title>
    </h:head>
    <h:body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <h:link outcome="/index" value="Speedrun Portal" styleClass="navbar-brand"/>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <h:form styleClass="navbar-form navbar-right">
                        <ui:fragment rendered="#{not loginBean.loggedIn}">
                            <div class="form-group">
                                <h:link outcome="/register" value="Register" styleClass="btn btn-link"/>
                            </div>
                            <div class="form-group">
                                <h:link outcome="/login" value="Login" styleClass="btn btn-link"/>
                            </div>
                        </ui:fragment>
                        <ui:fragment rendered="#{loginBean.loggedIn}">
                            <div class="form-group">
                                <h:outputText value="Hello, #{request.remoteUser}!" styleClass="form-control-static"/>
                            </div>
                            <div class="form-group">
                                <h:commandButton action="#{loginBean.logout}" value="Logout" styleClass="btn btn-link"/>
                            </div>
                        </ui:fragment>
                    </h:form>
                </div>
            </div>
        </nav>
        <div class="container">
            <ui:insert name="content"/>
        </div>
    </h:body>
</f:view>
</html>
