<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{gameBean.init(param.gameId, param.categoryId)}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form>
            <div class="row">
                <div class="col-md-7">
                    <h2>#{gameBean.game.title}</h2>
                </div>
                <div class="col-md-5">
                    <h:panelGroup layout="block" styleClass="btn-group pull-right" rendered="#{loginBean.loggedIn}">
                        <h:commandButton action="#{editGameBean.init(gameBean.gameId)}" value="Edit Game"
                                       styleClass="btn btn-warning" rendered="#{loginBean.admin}"/>
                        <h:commandButton action="#{newCategoryBean.init(gameBean.gameId)}" value="New Category"
                                       styleClass="btn btn-primary"/>
                        <h:commandButton action="#{editCategoryBean.init(gameBean.categoryId)}" value="Edit Category"
                                       styleClass="btn btn-warning"
                                       rendered="#{loginBean.admin and gameBean.categoryId ne null}"/>
                        <h:commandButton action="#{editEntryBean.init(gameBean.categoryId)}" value="Edit Entry"
                                       styleClass="btn btn-success" rendered="#{gameBean.categoryId ne null}"/>
                    </h:panelGroup>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h:graphicImage value="/game/image/#{gameBean.gameId}" styleClass="img-responsive center-block"/>
                </div>
                <div class="col-md-8">
                    <ui:fragment rendered="#{not empty gameBean.categories}">
                        <ul class="nav nav-tabs">
                            <ui:repeat value="#{gameBean.categories}" var="category">
                                <li class="#{gameBean.categoryId==category.id?'active':''}">
                                    <h:link outcome="/game" value="#{category.name}">
                                        <f:param name="gameId" value="#{gameBean.gameId}"/>
                                        <f:param name="categoryId" value="#{category.id}"/>
                                    </h:link>
                                </li>
                            </ui:repeat>
                        </ul>
                        <ui:fragment rendered="#{gameBean.categoryId ne null}">
                            <table class="table table-condensed #{not empty gameBean.entries?'table-hover':''}">
                                <colgroup>
                                    <col class="css-col-rank"/>
                                    <col class="css-col-player"/>
                                    <col class="css-col-time"/>
                                    <col class="css-col-details"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr jsfc="ui:repeat" value="#{gameBean.entries}" var="entry" varStatus="status">
                                    <td>#{status.index + 1}</td>
                                    <td>#{entry.username}</td>
                                    <td>
                                        <h:outputText value="#{entry.runTime}"
                                                      converter="me.sendow.speedrun.jsf.converter.RunTimeConverter"/>
                                    </td>
                                    <td>
                                        <h:link outcome="/entry/view" value="Details">
                                            <f:param name="entryId" value="#{entry.id}"/>
                                        </h:link><h:outputText value="&#x2002;"/>
                                        <ui:fragment rendered="#{not empty entry.videoUrl}">
                                            <span class="glyphicon glyphicon-film"/>
                                        </ui:fragment>
                                        <ui:fragment rendered="#{not empty entry.comment}">
                                            <span class="glyphicon glyphicon-comment"/>
                                        </ui:fragment>
                                    </td>
                                </tr>
                                <ui:fragment rendered="#{empty gameBean.entries}">
                                    <tr>
                                        <td class="text-center bg-warning" colspan="4">There are no entries.</td>
                                    </tr>
                                </ui:fragment>
                                </tbody>
                            </table>
                            <ui:fragment rendered="#{not empty gameBean.category.rules}">
                                <details class="well well-sm" open="open">
                                    <summary><strong>Rules</strong></summary>
                                    <p class="css-pre">#{gameBean.category.rules}</p>
                                </details>
                            </ui:fragment>
                        </ui:fragment>
                        <h:panelGroup layout="block" styleClass="alert alert-info css-select-category-alert"
                                      rendered="#{gameBean.categoryId eq null}">Please select a category!</h:panelGroup>
                    </ui:fragment>
                    <h:panelGroup layout="block" styleClass="alert alert-warning"
                                  rendered="#{empty gameBean.categories}">There are no categories.</h:panelGroup>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
