<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="row">
            <div class="col-md-8">
                <h2>Game list</h2>
            </div>
            <div class="col-md-4 clearfix">
                <div class="btn-group pull-right">
                    <h:link outcome="/game/new" value="New Game" styleClass="btn btn-primary"
                            rendered="#{loginBean.loggedIn}"/>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="list-group">
                <ui:repeat value="#{indexBean.gameList}" var="game">
                    <h:link outcome="/game" value="#{game.title}" styleClass="list-group-item">
                        <f:param name="gameId" value="#{game.id}"/>
                    </h:link>
                </ui:repeat>
            </div>
        </div>
    </ui:define>
</ui:composition>

</html>
