<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>Login</h2>
        <form action="j_security_check" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="j_username" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="j_password" placeholder="Password" class="form-control"/>
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </ui:define>
</ui:composition>

</html>
