<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>Login</h2>
        <h:form>
            <div class="form-group">
                <h:outputLabel for="username" value="Username"/>
                <h:inputText id="username" value="#{loginBean.username}" pt:placeholder="Username"
                             styleClass="form-control" pt:autofocus=""/>
            </div>
            <div class="form-group">
                <h:outputLabel for="password" value="Password"/>
                <h:inputSecret id="password" value="#{loginBean.password}" pt:placeholder="Password"
                               styleClass="form-control"/>
            </div>
            <h:commandButton action="#{loginBean.login}" value="Login" styleClass="btn btn-primary"/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
