<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>Register</h2>
        <h:form id="registerForm">
            <h:panelGroup layout="block" styleClass="form-group #{comp.username.valid?'':'has-error'}">
                <h:outputLabel for="username" value="Username"/>
                <h:inputText id="username" value="#{registerBean.username}" binding="#{comp.username}"
                             styleClass="form-control" pt:placeholder="Username" pt:autofocus=""/>
                <h:message for="username" styleClass="help-block"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="form-group #{comp.password.valid?'':'has-error'}">
                <h:outputLabel for="password" value="Password"/>
                <h:inputSecret id="password" value="#{registerBean.password}" binding="#{comp.password}"
                               styleClass="form-control" pt:placeholder="Password"/>
                <h:message for="password" styleClass="help-block"/>
            </h:panelGroup>
            <h:commandButton action="#{registerBean.register}" value="Login" styleClass="btn btn-primary"/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
