<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h2>
            Add new category
            <small>#{gameBean.game.title}</small>
        </h2>
        <h:form>
            <h:panelGroup layout="block" styleClass="form-group #{comp.name.valid?'':'has-error'}">
                <h:outputLabel for="name" value="Name"/>
                <h:inputText id="name" value="#{newCategoryBean.model.name}" binding="#{comp.name}"
                             styleClass="form-control" pt:placeholder="Name" pt:autofocus=""/>
                <h:message for="name" styleClass="help-block"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="form-group #{comp.rules.valid?'':'has-error'}">
                <h:outputLabel for="rules" value="Rules"/>
                <h:inputTextarea id="rules" value="#{newCategoryBean.model.rules}" binding="#{comp.rules}"
                                 styleClass="form-control" pt:placeholder="Rules" rows="6"/>
                <h:message for="rules" styleClass="help-block"/>
            </h:panelGroup>
            <h:commandButton action="#{newCategoryBean.create}" value="Create"
                             styleClass="btn btn-primary"/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
